body {
    background-color: black;
    font-family: "cardo", sans-serif;
    color: #FBC841;
    text-align: center;
    background: url('../images/rivendell-7713475.jpg') repeat-y left right;

}

.main-heading {
    font-family: "Cinzel Decorative", sans-serif;
    text-align: center;
    font-size: 2.5rem;
}

.container {
    background-image: url('../images/rivendell-7713475.jpg'), url('../images/rivendell-7713475.jpg');
    background-repeat: no-repeat;
    background-position: left top, right top;
    background-size: 15% 100%;

}

.game-area {
    background-color: #0f4e06;
    box-sizing: border-box;
    width: 100%;
    height: 65vh;
    max-height: 450px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;

}

#question-area {

    width: 80%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;



}



.answer-button {
   
    background-color: white;
    border: 10px solid;
    width: 80%;
    height: 80px;
    font-size: 2.5rem;
    margin: 1% auto;
    padding: 5px;
    transition: all 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "cardo", sans-serif;
    font-weight: 600;
    

}

.answer-button:hover {
    border-color: #FBC841;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

#score {
    color: green;
    font-weight: bold;
}

#incorrect-count {
    color: red;
    font-weight: bold;
}

#high-score {
    color:#FBC841;
    font-weight: bold;
}

.scores {
    display: inline-block;
    padding: 25px;
}

.high-scores {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#fullReset {

    background-color: white;
    border: 5px solid;
    width: 30%;
    height: 20%;
    font-size: 2.5rem;
    transition: all 0.5s;
    position: absolute;
    z-index: 10;
    left: 50%;
    margin-left: -15%;
    top: 50%;
    margin-top: -5%;
    background-image: url('../images/middle-earth-4760561_1280.jpg');
    background-size: cover;

    
}

    
  


#fullReset:hover {
    border-color: #FBC841;
    
}